<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
bank_customers
</font>
</h1>

<h2 align=LEFT style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Intro
</font>
</h2>

<p dir=rtl align=LEFT style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
   
 the bank can store more money in its safes and thereby increase its rating and can provide more services to its customers.

  In this exercise, we have the information of the previous campaign (sweeps) of a Portuguese bank and we intend to identify people who respond positively to the current survey. The purpose of this campaign is to create "term bank deposits".
</font>
</p>

In [1]:
import numpy as np
import pandas as pd

<h2 align=LEFT style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 Introduce data
</font>

<br>


<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|age|ستونی دارای مقادیر عددی که سن مشتری را نشان می‌دهد|
|job|ستونی با مقادیر دسته‌ای که وضعیت شغلی مشتری را نشان می‌دهد|
|marital|این ستون که مقادیر دسته‌ای را می‌پذیرد، وضعیت تاهل مشتری را مدل کرده است|
|education|وضعیت تحصیلی مشتری را به شکل دسته‌ای، نشان می‌دهد|
|default|نشان می‌دهد که آیا به صورت پیشفرض، مشتری اعتبار بانکی دارد یا خیر|
|housing|آیا مشتری برای مسکن، وتم گرفته است یا خیر|
|loan|آیا مشتری وام شخصی دریافت کرده است یا خیر؟|
|contact|نحوه ارتباط با مشتری را نشان می‌دهد. این ستون یکی از دو مقدار *cellular* و *telephone* را می‌تواند اختیار کند. به این معنی که بانک با تلفن همراه مشتری تماس گرفته است یا تلفن ثابت|
|month|این ستون دسته‌ای، نشان می‌دهد آخرین باری که با مشتری تماس گرفته شده است، در چه ماهی بوده است|
|day_of_week|روزی که آخرین تماس با مشتری گرفته شده است، چه روزی بوده است؟ (شنبه، یکشنبه، ...، جمعه)|
|campaign|تعداد تماس‌هایی که تا به حال با مشتری برای کمپین جاری گرفته شده است|
|pdays|تعداد روزی که از آخرین تماس با مشتری برای کمپین قبلی می‌گذرد. عدد ۹۹۹ به این معنی است که قبلا با مشتری تماس گرفته نشده است|
|previous|تعداد تماس‌هایی که با مشتری برای کمپین‌های قبلی گرفته شده است|
|poutcome|نتیجه کمپین‌های قبلی برای مشتری|
|emp.var.rate|نرخ تغییرات اشتغال در بازه سه ماهه|
|cons.price.idx|شاخص قیمت مصرف‌کننده در بازه یک ماهه|
|cons.conf.idx|شاخص اعتماد مصرف‌کننده در بازه یک ماهه|
|euribor3m|نرخ بهره بانکی برای وام‌های بین بانکی اروپایی|
|nr.employed|تعداد کارمندان در بازه سه ماهه|
|y|آیا فرد به پویش سرمایه‌گذاری بانک پاسخ مثبت داده یا خیر|
    
</font>
</div>
</center>

In [2]:
train_data = pd.read_csv('bank_customers_train.csv')
test_data = pd.read_csv('bank_customers_test.csv')

In [3]:
train_data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,35,blue-collar,single,high.school,NaN,no,no,cellular,jul,thu,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
1,52,blue-collar,married,NaN,NaN,yes,no,telephone,jun,thu,...,4,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1,no
2,38,services,married,high.school,NaN,no,no,telephone,jun,tue,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,no
3,44,admin.,married,university.degree,no,yes,no,telephone,oct,wed,...,1,999,0,nonexistent,-3.4,92.431,-26.9,0.735,5017.5,yes
4,25,services,divorced,basic.4y,no,yes,no,telephone,may,fri,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39183,43,admin.,single,university.degree,no,no,no,cellular,may,tue,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.291,5099.1,no
39184,31,admin.,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
39185,49,blue-collar,married,basic.4y,NaN,no,no,telephone,jun,fri,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,yes
39186,31,admin.,single,university.degree,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
39187,43,blue-collar,married,basic.9y,no,yes,no,telephone,jun,tue,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1,no

## preprocessing

In [4]:
train_data = train_data.dropna(axis=0, how='all', subset=['y'])

In [6]:
train_data.isnull().sum()

age                  0
job                316
marital             79
education         1653
default           8162
housing            940
loan               940
contact              0
month                0
day_of_week          0
duration             0
campaign             0
pdays                0
previous             0
poutcome             0
emp.var.rate         0
cons.price.idx       0
cons.conf.idx        0
euribor3m            0
nr.employed          0
y                    0
dtype: int64

In [5]:
test_data.isnull().sum()

age                 0
job                14
marital             1
education          78
default           435
housing            50
loan               50
contact             0
month               0
day_of_week         0
duration            0
campaign            0
pdays               0
previous            0
poutcome            0
emp.var.rate        0
cons.price.idx      0
cons.conf.idx       0
euribor3m           0
nr.employed         0
dtype: int64

In [7]:
train_data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [8]:
for i in ['age', 'duration', 'campaign', 'pdays','previous', 'emp.var.rate',
          'cons.price.idx','cons.conf.idx','euribor3m', 'nr.employed'] :
  Q1 = train_data[i].quantile(.25)
  Q3 = train_data[i].quantile(.75)
  IQR = Q3 - Q1
  train_data[(train_data[i]> Q1 - (1.5 * IQR)) & (train_data[i]< Q3 + (1.5 * IQR))]

In [9]:
train_job = train_data['job'].mode()[0]
test_job = test_data['job'].mode()[0]
train_data['job'] = train_data['job'].fillna(train_job)
test_data['job'] = test_data['job'].fillna(test_job)

In [10]:
train_marital = train_data['marital'].mode()[0]
test_marital = test_data['marital'].mode()[0]

train_data['marital'] = train_data['marital'].fillna(train_marital)
test_data['marital'] = test_data['marital'].fillna(test_marital)

In [11]:
train_education = train_data['education'].mode()[0]
test_education = test_data['education'].mode()[0]

train_data['education'] = train_data['education'].fillna(train_education)
test_data['education'] = test_data['education'].fillna(test_education)

In [12]:
train_default = train_data['default'].mode()[0]
test_default = test_data['default'].mode()[0]

train_data['default'] = train_data['default'].fillna(train_default)
test_data['default'] = test_data['default'].fillna(test_default)

In [13]:
train_housing = train_data['housing'].mode()[0]
test_housing = test_data['housing'].mode()[0]

train_data['housing'] = train_data['housing'].fillna(train_housing)
test_data['housing'] = test_data['housing'].fillna(test_housing)

In [14]:
train_loan = train_data['loan'].mode()[0]
test_loan = test_data['loan'].mode()[0]

train_data['loan'] = train_data['loan'].fillna(train_loan)
test_data['loan'] = test_data['loan'].fillna(test_loan)

In [15]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
for i in [ 'job', 'marital', 'education', 'default', 'housing', 'loan',
           'contact', 'month', 'day_of_week' ,'poutcome']:
           train_data[i] = label_encoder.fit_transform(train_data[i])
           test_data[i] = label_encoder.fit_transform(test_data[i])

In [16]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
for i in test_data.columns:
  train_data[[i]] = scaler.fit_transform(train_data[[i]])
  test_data[[i]] = scaler.fit_transform(test_data[[i]])

## modeling with scikit-learn
### AdaBoostClassifier

In [17]:
y=  train_data[['y']]
x = train_data.copy()
x.drop(columns= ['y'], inplace= True)

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, shuffle=True)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, shuffle=True)

In [19]:
from sklearn.ensemble import AdaBoostClassifier

In [20]:
# modeling
model = AdaBoostClassifier(n_estimators=600, learning_rate=.999,random_state=8) 
model.fit(X_train,y_train)
y_pred = model.predict(X_val)

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [21]:
# evaluate model
from sklearn.metrics import f1_score
prediction =f1_score(y_val, y_pred, average='weighted')
prediction

0.9019632489153327

In [22]:
# evaluate model
from sklearn.metrics import f1_score
y_pred = model.predict(X_test)
prediction =f1_score(y_test, y_pred, average='weighted')
prediction

0.9036085277105951